{:paths ["src"]
 :tasks {:requires ([skriptit.chromedriver :as chromedriver]
                    [skriptit.cli :as cli :refer [get-env edit-or-read run]]
                    [skriptit.dirb :as dirb]
                    [skriptit.git :as git]
                    [skriptit.github :as github]
                    [skriptit.rems :as rems])
         ;; dummy, test args
         test (println :command-line-args *command-line-args* :pwd (System/getenv "PWD"))

         ;; simple read/write files
         aliases (edit-or-read (get-env "ALIASES"))
         config (edit-or-read (get-env "CONFIG"))
         gitignore (edit-or-read (get-env "GIT_IGNORE"))
         lein-profiles (edit-or-read (get-env "LEIN_PROFILES"))
         skriptit (edit-or-read (get-env "SKRIPTIT_CONFIG"))
         ssh (edit-or-read (get-env "SSH_CONFIG"))
         ssh-hosts (edit-or-read (get-env "SSH_HOSTS"))

         ;; scripts without namespace
         gpg (cli/gpg *command-line-args*)
         psgrep (cli/psgrep *command-line-args*)

         ;; more complex scripts
         chromedriver (chromedriver/cli *command-line-args*)
         dirb (dirb/cli *command-line-args*)
         gh (run github/commands *command-line-args*)
         git (git/cli *command-line-args*)
         rems (run rems/commands *command-line-args*)}}
